@import "./base.css";

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  color: var(--white);
  background-color: var(--dark);
  padding: 10px;
  border-radius: 10px;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.todo-form-input,
.todo-form-button {
  font-size: 20px;
  padding: 15px;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  transition: var(--transition-all);
  outline: none;
}

.todo-form-input {
  flex: 1;
  color: var(--white);
  background-color: var(--white);

  &:focus {
    border-color: var(--primary);
    background-color: var(--dark);
  }
}

.todo-form-button {
  padding: 15px;
  border-radius: 10px;
  color: var(--white);
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: var(--primary);
  }

  &:focus {
    border-color: var(--primary);
  }
}
